<div class="row">
  <div class="col-xs-12" id="comments">
    <div class="panel panel-info">
      <div class="panel-body">
        <blockquote>
          <p><%= comment.body %></p>
          <footer><%= t('comments.created') %>: <%= comment.created_at.strftime('%d/%m/%Y') %>
            <%= comment.user_id if current_user && current_user.admin? %>
            <% if current_user || current_user && current_user.admin? %>
              <span><%= link_to t('comments.delete'), [comment.organization, comment],
                                method: :delete,
                                data: {
                                        confirm: t('messages.confirm'),
                                        :'confirm-button-text' => t('comments.modal_confirm'),
                                        :'cancel-button-text' => t('comments.modal_cancel'),
                                        :'confirm-button-color' => '#66CD00',
                                        :'sweet-alert-type' => 'info'
                                },
                                class: 'btn btn-danger' %>
              </span>
            <% end %>
            <span class="reply">
                <%= link_to t('comments.reply'),
                        new_organization_comment_path(@organization.id, :parent_id => comment),
                        class: 'btn btn-info',
                        id: "add_comment#{comment.id}", remote: true %>
            </span>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</div>