<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @organization.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @organization.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @organization.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @organization.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @organization.email %>
</p>

<p>
  <strong>Tags:</strong>
  <%= @organization.all_tags %>
</p>

<p>
  <strong>Latitude</strong>
  <span id="organization_lat"><%= @organization.latitude %></span>
</p>

<p>
  <strong>Longitude</strong>
  <span id="organization_lng"><%= @organization.longitude %></span>
</p>

<%= render 'gmap_show' %>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
