<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1 class="text-center"><%= @organization.title %></h1>
<div class="row-fluid">
  <div class="col-sm-5">
    <ul class="list-group">
      <li class="list-group-item">
        <b>Название:</b>
        <%= @organization.title %>
      </li>

      <li class="list-group-item">
        <b>Описание:</b>
        <%= @organization.description %>
      </li>

      <li class="list-group-item">
        <b>Адрес:</b>
        <%= @organization.address %>
      </li>

      <li class="list-group-item">
        <b>Телефон:</b>
        <%= @organization.phone %>
      </li>

      <li class="list-group-item">
        <b>Имейл:</b>
        <%= @organization.email %>
      </li>

      <li class="list-group-item">
        <b>Все теги:</b>
        <%= @organization.all_tags %>
      </li>
      <li class="list-group-item">
        <b>Широта:</b>
        <span id="organization_lat"><%= @organization.latitude %></span>
      </li>

      <li class="list-group-item">
        <b>Долгота:</b>
        <span id="organization_lng"><%= @organization.longitude %></span>
      </li>
    </ul>
    <div>
      <%= link_to 'Редактировать', edit_organization_path(@organization), class: 'btn btn-default' %>
      <%= link_to 'Назад', organizations_path, class: 'btn btn-default' %>
      <%= link_to 'Добавить комментарий', @organization, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="col-sm-7">
    <%= render 'gmap_show' %>
  </div>
</div>
<div class="row-fluid">
  <div class="col-sm-12">
    <h2 class="text-center">
      Комментарии
    </h2>
    <%= render @organization.comments %>
    <div>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>




