<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>
<h1 class="text-center"><%= @organization.title %></h1>
<div class="row-fluid">
  <div class="col-sm-5">
    <ul class="list-group">
      <li class="list-group-item">
        <b><%= t('organizations.title') %>:</b>
        <%= @organization.title %>
      </li>

      <li class="list-group-item">
        <b><%= t('organizations.description') %>:</b>
        <%= @organization.description %>
      </li>

      <li class="list-group-item">
        <b><%= t('organizations.address') %>:</b>
        <%= @organization.address %>
      </li>

      <li class="list-group-item">
        <b><%= t('organizations.phone') %>:</b>
        <%= @organization.phone %>
      </li>

      <li class="list-group-item">
        <b>Email:</b>
        <%= @organization.email %>
      </li>

      <li class="list-group-item">
        <b><%= t('organizations.tags') %>:</b>
        <%= @organization.all_tags %>
      </li>
      <li class="list-group-item">
        <b><%= t('organizations.lat') %>:</b>
        <span id="organization_lat"><%= @organization.latitude %></span>
      </li>

      <li class="list-group-item">
        <b><%= t('organizations.lng') %>:</b>
        <span id="organization_lng"><%= @organization.longitude %></span>
      </li>
    </ul>
    <div>
      <%= link_to t('buttons.edit'), edit_organization_path(@organization), class: 'btn btn-default' %>
      <%= link_to t('buttons.back'), organizations_path, class: 'btn btn-default' %>
    </div>
  </div>
  <div class="col-sm-7">
    <%= render 'gmap_show' %>
  </div>
</div>
<div class="row-fluid">
  <div class="col-sm-12">
    <h2 class="text-center">
      <%= t('comments.title') %>
    </h2>
    <p>Оставлять свои комментарии могут только зарегистрированные пользователи,
      можно авторизоваться через соц.сети Твитер, ВКонтакте и Гугл+. Все комментарии
      с бесполезной или заведомо неправильной информацией будут удаляться! Все
      комментарии с нецензурной лексикой будут удаляться вместе с их владельцами!
      Давайте будем уважительно относиться друг ко другу!
    </p>
  </div>
  <div class="row-fluid">
    <div class="col-sm-12">
      <%= nested_comments @organization.comments.arrange(:order => :created_at) %>
    </div>
  </div>
  <div>
    <%= render 'comments/form' %>
  </div>
</div>




